@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

nav {
    width: 100%;

}

.navbar {
    padding: .1rem;
    background-color: black;

}

.nav-head {

    font-weight: bold;
    border-radius: 2px;
    font-size: 1.5rem;
}

.nav-head:hover {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

.navbar-toggler-icon {
    color: white;
}

.navbar-toggler {
    background-color: black;
}

.navbar-nav li {
    padding-left: 30px;

}

.nav-link {
    font-size: 1;
    font-weight: bolder;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link:hover {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.nav-item,
active {
    color: yellow;
}

.carousel-inner>.item>img {
    width: 640px;
    height: 360px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    transform: translateY(-50%)
}

.carousel-caption h1 {
    font: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 250%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 10rem;
}

.heading {
    text-align: center;
    color: black;
    font-weight: bolder;

}

.head2 {
    text-align: center;
    color: black;
    font-weight: bolder;

}

.head3 {
    text-align: center;
    color: black;
    font-weight: bolder;

}

.txt {
    text-align: center;
}

.heading::after {
    content: '';
    background-color: red;
    width: 200px;
    height: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-name: slide;
    animation-name: slide;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    
}
  

  /* slide animation keyframes */
  @keyframes slide {
      0% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
      }

      50% {
          -webkit-transform: translateX(3.5rem);
          transform: translateX(3.5rem);
      }

      100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
      }
  }
.head2::after {
    content: '';
    background-color: Red;
    width: 200px;
    height: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
     -webkit-animation-delay: 1s;
     animation-delay: 1s;
     -webkit-animation-name: slide;
     animation-name: slide;
     -webkit-animation-duration: 3s;
     animation-duration: 3s;
     -webkit-animation-iteration-count: infinite;
     animation-iteration-count: infinite;
     -webkit-animation-direction: normal;
     animation-direction: normal;
}

.head3::after {
    content: '';
    background-color: Red;
    width: 200px;
    height: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
     -webkit-animation-delay: 1s;
     animation-delay: 1s;
     -webkit-animation-name: slide;
     animation-name: slide;
     -webkit-animation-duration: 3s;
     animation-duration: 3s;
     -webkit-animation-iteration-count: infinite;
     animation-iteration-count: infinite;
     -webkit-animation-direction: normal;
     animation-direction: normal;
}

.cloud::after {
    content: '';
    background-color: Red;
    width: 200px;
    height: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
     -webkit-animation-delay: 1s;
     animation-delay: 1s;
     -webkit-animation-name: slide;
     animation-name: slide;
     -webkit-animation-duration: 3s;
     animation-duration: 3s;
     -webkit-animation-iteration-count: infinite;
     animation-iteration-count: infinite;
     -webkit-animation-direction: normal;
     animation-direction: normal;
}
.frame {
    height: 300px;
    width: 100%;
}
.title {
    text-align: center;
}

.cloud {
    font-weight: bolder;
    text-align: center;
}

.hero {
    border-radius: 40%;
    width: auto;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.director {
    text-align: center;

}

@media only screen and (max-width: 450px) {
    .controls {
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    .hero {
        border-radius: 50%;
        width: auto;
        height: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}





@media only screen and (max-width: 752px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

}